**/bin
*.jar
GoSen/testdata/dictionary/ipadic-*
GoSen/testdata/dictionary/*.sen
GoSen/testdata/dictionary/*.csv
*.iidx
*.iidx.tmp
*.uno.pkg

# Gradle
.gradle/
gradle/
build/
out/

# IntelliJ
.idea/

#Eclipse
.classpath
.settings/

